<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>About</title>

 <!-- Bootstrap -->
 <link href="/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="/css/font-awesome.min.css">
 <link href="/css/overwrite.css" rel="stylesheet">
 <link href="/css/style.css" rel="stylesheet">
 <script src="https://kit.fontawesome.com/e2169f0192.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/controlPanel.css">

</head>

<body>

<div class="chat">
  <button class="chat-btn">Group Chat</button c>
  <button class="close-btn">&times;</button>
  <iframe frameborder="0" id="chatFrame" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
    allowtransparency="true"
    src="https://chatroll.com/embed/chat/alumni-group-chat?id=XkA4yH0Dy6K&platform=html">
  </iframe>
</div>


 <div class="row">
  <div class="col-md-2">
   <div class="menu">
    <div class="logo">
     <a href="#">
      <h1>ABOUT</h1>
     </a>
    </div>
    <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
     </button>
     <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/events">Events</a></li>
      <li role="presentation"><a href="/alumniContactProfile">Contact</a></li>
      
      <li role="presentation">
        <form action="/alumniUpdateForm" method="post">
          <li role="presentation">
            <button id="submit" type="submit">Update Details</button>
          </li>
          <li role="presentation">
            <input id="showReg" readonly type="text" name="regNo" value=<%= register %>>
          </li>
        </form>
      </li>
     </ul>
    </div>
    <div class="footer pt-4">
     &copy; AUBIT All Right Reserved
    </div>
   </div>
  </div>
 </div>

 <section id="about">
  <div class="col-md-4 col-md-push-2">
   <ul class="about-data">
    <li>
     <div class="inner-abcoin"><i class="fa fa-user"></i></div>
     <label>Name</label>
     <span class="value"><%= name %></span>
     <div class="clear"></div>
     <hr>
    </li>
    <li>
     <div class="inner-abcoin"><i class="fa fa-calendar"></i></div>
     <label>Date of birth</label>
     <span class="value">June 22, 1978</span>
     <div class="clear"></div>
     <hr>
    </li>
    <li>
     <div class="inner-abcoin"><i class="fa fa-map-marker"></i></div>
     <label>City</label>
     <span class="value"><%= city %></span>
     <div class="clear"></div>
     <hr>
    </li>
    <li>
     <div class="inner-abcoin"><i class="fa fa-envelope"></i></div>
     <label>Email</label>
     <span class="value"><%= email %></span>
     <div class="clear"></div>
     <hr>
    </li>
    <li>
     <div class="inner-abcoin"><i class="fa fa-mobile"></i></div>
     <label>Phone</label>
     <span class="value"><%= phone %></span>
     <div class="clear"></div>
     <hr>
    </li>
   </ul>
  </div>

  <div class="col-md-6 col-md-push-2">
   <img src="/img/ico-3.jpg" alt="" class="img-responsive" />
  </div>
 </section>


 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
 <script type="text/javascript" src="/js/fliplightbox.min.js"></script>
 <script type="text/javascript">
  $('#graphics').flipLightBox()
 </script>
 <script>
    $(document).ready(
      function(){
        $('.chat-btn').click(function(){
          $('#chatFrame').toggle("slide");
          $(this).hide();
          $('.close-btn').show();
        });
         $('.close-btn').click(function () {
          $('#chatFrame').hide();
          $(this).hide();
          $('.chat-btn').show();
        });
      }
    );
  
  </script>
</body>

</html>