<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dash Board</title>

  <!-- Bootstrap CDN  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/e2169f0192.js" crossorigin="anonymous"></script>

  <!-- Local stylesheet link  -->
  <link rel="stylesheet" href="/css/controlPanel.css">

  <!-- Fotorama -->
  <link href="/plugin/fotorama-4.6.2/fotorama.css" rel="stylesheet">
  <script src="/plugin/fotorama-4.6.2/fotorama.js"></script>

</head>

<body>
<%- include('navbar') -%>

<div class="container-box container-fluid">

  <!-- Side Section  -->
<div class="sidebar container p-3">

  <!-- For Sending Emails  -->
  <div class="first-search-field pt-3 pb-3">
    <span class="eventLabel text-danger" style="font-weight: 700;">SEND EMAIL</span>
    <a href="/postToMailChimp" id="eventPostButton">
      <span class="fa fa-envelope email-icon"></span>
    </a>
  </div>

  <h3>Keyword</h3>

  <div class="first-search-field">
    <input type="text" placeholder="Enter keyword" class="top-search">
    <span class="fa fa-search"></span>
  </div>

  <h3>Filters</h3>

  <form action = "/filter-data" method = "POST">
    <div class="first-search-field">
        <input type="text" list="college-name" name="Cname" id="ug-college-name" class="top-search" required placeholder="College Name">
        <button type="submit"><span class="fa fa-search"></span></button>

      <datalist id="college-name">
        <option value="University_College_of_Engineering(BIT_campus)"></option>
        <option value="Anna_University(CEG_campus)"></option>
      </datalist>
    </div>
  </form>
</div>

  <!-- Main section  -->
  <div class="main">

    <div class="header">
      <p class="pl-3"> <span id="value"><%= NumberOfMembers %></span> members in community</p>
    </div>


    <% for(var i = 0; i < ArrOfUser.length; i++){ %>
    <div class="member">
      <img src="/img/photo-4.jpeg">
      
      <div style="width:  100%;">
        <form action="/filter-data" method="POST">
        <input type="text" name="Cname" value=<%= ArrOfUser[i].collegeName %> style = "border : none; outline : none; width :100%" readonly>
        <button style ="color: black; font-weight : bolder; border: none; outline: none; background: none; padding: 0" type = "submit">
          See
        </button>
      </form>
        <p><%= ArrOfUser[i].email %></p>
      </div>
    </div>

    <% } %>

  </div>
</div>

<!-- Hover effect link  -->
<%- include('hoverEffect') -%>
</body>

<%- include('footer') -%>
</html>