<%- include('header') -%>

<%- include('navbar') -%>

<div class="container-box container-fluid">

  <!-- Side Section  -->
<div class="sidebar container p-3">

  <h3>Keyword</h3>

  <div class="first-search-field">
    <input type="text" placeholder="Enter keyword" class="top-search">
    <span class="fa fa-search"></span>
  </div>

  <h3>Filters</h3>

  <form action = "/filter-data" method = "POST">
    <div class="first-search-field">
        <input type="text" list="college-name" name="Cname" id="ug-college-name" class="top-search" required placeholder="College Name">
        <button type="submit"><span class="fa fa-search"></span></button>

      <datalist id="college-name">
        <option value="University_College_of_Engineering(BIT_campus)"></option>
        <option value="Anna_University(CEG_campus)"></option>
      </datalist>
    </div>
  </form>
</div>

  <!-- Main section  -->
  <div class="main">

    <div class="header">
      <p class="pl-3"> <span id="value"><%= NumberOfMembers %></span> members in community</p>
    </div>


    <% for(var i = 0; i < ArrOfUser.length; i++){ %>
    <div class="member">
      <img src="/img/photo-4.jpeg">
      
      <div style="width:  100%;">
        <form action="/filter-data" method="POST">
        <input type="text" name="Cname" value=<%= ArrOfUser[i].collegeName %> style = "border : none; outline : none; width :100%" readonly>
        <button style ="color: black; font-weight : bolder; border: none; outline: none; background: none; padding: 0" type = "submit">
          See
        </button>
      </form>
        <p><%= ArrOfUser[i].email %></p>
      </div>
    </div>

    <% } %>

  </div>
</div>

<!-- Hover effect link  -->
<%- include('hoverEffect') -%>
</body>

<%- include('footer') -%>
</html>