<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- Bootstrap CDN  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/e2169f0192.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/eventTemplate.css">
</head>
<body>
  <!-- Navbar section  -->
  <%- include('navbar') %>

  <div class="header container-fluid">
    <p class="pl-3"> <span id="value"><%= NumberOfEvents %></span> Event now present</p>
  </div>

  <div class="events card-columns">
  <% for(let i = 0; i < ArrOfEvents.length; i++){ %>
    <div class="card p-3 mt-3 ml-3" style="width: 400px;">
      <div class="card-header text-center">
        <div class="card-title">
          <%= ArrOfEvents[i].college %>
        </div>
        <%= ArrOfEvents[i].title %>
      </div>
      <img src="/img/Alumni/photo-4.jpeg" alt="" class="card-img">
      <div class="card-body">
        <p class="card-text">
        <%= ArrOfEvents[i].content %>
        </p>
      </div>
      <div class="card-footer text-center">
        <a href="#" class="btn btn-success" style="width : 100px">View</a>
      </div>
    </div>
<% } %>
 </div>

</body>
</html>
