<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dash Board</title>

  <!-- Bootstrap CDN  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/e2169f0192.js" crossorigin="anonymous"></script>

  <!-- Local stylesheet link  -->
  <link rel="stylesheet" href="/css/controlPanel.css">

  <!-- Fotorama -->
  <link href="/plugin/fotorama-4.6.2/fotorama.css" rel="stylesheet">
  <script src="/plugin/fotorama-4.6.2/fotorama.js"></script>

</head>

<body>
<%- include('navbar') -%>

<div class="container-box container-fluid">

 <!-- Side Section  -->
<div class="sidebar container p-3">

  <h3>Keyword</h3>

  <form action="#" method="POST">
    <div class="first-search-field">
      <input type="text" name="Keyword" class="top-search" required placeholder="Enter Keyword" autocomplete="off">
      <button type="submit"><span class="fa fa-search"></span></button>
    </div>
  </form>

  <h3>Filters</h3>

  <form action="/filter-data" method="POST">
    <div class="first-search-field">
      <input type="text" list="college-name" name="Cname" id="ug-college-name" class="top-search" required
        placeholder="College Name">
      <button type="submit"><span class="fa fa-search"></span></button>

      <datalist id="college-name">
        <option value="University_College_of_Engineering(BIT_campus)"></option>
        <option value="Anna_University(CEG_campus)"></option>
      </datalist>
    </div>
  </form>

  <!-- Based On subject  -->
  <form action="/filter-data-by-Subject" method="POST">
    <div class="first-search-field">
      <input type="text" list="subject-name" name="Subject" class="top-search" required placeholder="Subject Name" autocomplete="off">
      <button type="submit"><span class="fa fa-search"></span></button>
    </div>

      <datalist id="subject-name">
        <option value="B.E.Computer_Science_And_Engineering"></option>
        <option value="B.E.Civil_Engineering"></option>
        <option value="B.E.Electrical_And_Electronic_Engineering"></option>
        <option value="B.E.Mechanical_Engineering"></option>
        <option value="B.E.Information_Technology"></option>
        <option value="B.E.Aeronautical_Engineering"></option>
        <option value="B.E.Electronics_and_Communication_Engineering"></option>
        <option value="B.E.Electronics_and_Instrumentation_Engineering"></option>
        <option value="B.E.Mechatronics_Engineering"></option>
        <option value="B.E.Automobile_Engineering"></option>
        <option value="B.E.Chemical_Engineering"></option>
        <option value="B.E.Biotechnology"></option>
        <option value="B.E.Biomedical_Engineering"></option>
      </datalist>
  </form>

  <!-- Based on regno  -->
  <form action="/filter-data-by-regNo" method="POST">
    <div class="first-search-field">
      <input type="text" name="RegNo" class="top-search" required
        placeholder="Reg No" autocomplete="off">
      <button type="submit"><span class="fa fa-search"></span></button>
    </div>
  </form>

 <!-- Based on year of passing  -->
  <form action="/filter-data-by-YearOfPassing" method="POST">
    <div class="first-search-field">
      <input type="text" name="YearOfPassing" class="top-search" required placeholder="Year Of Passing" autocomplete="off">
      <button type="submit"><span class="fa fa-search"></span></button>
    </div>
  </form>

  <!-- Based on city  -->
  <form action="/filter-data-by-City" method="POST">
    <div class="first-search-field">
      <input type="text" name="City" class="top-search" required placeholder="City Name" autocomplete="off">
      <button type="submit"><span class="fa fa-search"></span></button>
    </div>
</form>
</div>

 <!-- Main section  -->
 <div class="main">

  <div class="header">
   <p class="pl-3"> <span id="value"><%= NumberOfMembers %></span> members in community</p>
  </div>


  <% for(var i = 0; i < ArrOfUser.length; i++){ %>
  <div class="member">
   <img src="/img/photo-4.jpeg">

  <form action='/aboutForAlumni' method="post">
   <div class="member-detail">
     <a href="#" class="member-name"><%= ArrOfUser[i].firstName + " " + ArrOfUser[i].secondName %></a>
     <input  class="member-year" type="text" name="regNo" value= <%= ArrOfUser[i].regNo %> readonly>
     <input style="width: 100%;" class="member-home-town" type="text"  value= <%= ArrOfUser[i].course %> readonly>
     <input class="member-degree" type="text"  value= <%= ArrOfUser[i].city %> readonly>
   </div>
     <button type="submit">View profile</button>
   </form>
  </div>

  <% } %>

 </div>

</div>

<!-- Local js link  -->
<script src="/js/controlPanel.js"></script>
<!-- Hover effect link  -->
<%- include('hoverEffect') -%>
</body>

<%- include('footer') -%>

</html>